<mat-card class="product-card">
  <mat-card-title>{{product.title}}</mat-card-title>
  <mat-card-subtitle>{{product.category}}</mat-card-subtitle>
  <mat-card-content>
    <p>{{product.description.substring(0, 200)}}...</p>
    <p>CHF <b>{{product.price | number:'0.2-2'}}</b></p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button href="./product/{{product.id}}">VIEW</a>
    <button *ngIf="!inShoppingCart" mat-raised-button color="accent" (click)="addToCart.emit(product)">ADD TO CART</button>
    <button *ngIf="inShoppingCart" mat-raised-button color="warn" (click)="removeFromCart.emit(product)">REMOVE FROM CART</button>
  </mat-card-actions>
</mat-card>
